.showmore {height:35px;background:#f8f8f8;border-bottom:1px solid #cccccc;cursor:pointer;text-align:center;margin-bottom:25px;}
.showmore .handle{display:block;height:35px;text-align:center;color:#909090;font-size:14px;text-decoration:none;line-height:35px;}
.showmore .handle:hover{text-decoration:none;background:#e6e6e6;}