

#img,#topic,#face,#atta{ padding: 0 0 0 5px;}
#edit-title-wrapper .publish-weibo{
    width: 530px;
}
#edit-title-wrapper #sina_open_tweet_text_count{
	  font-family: Constantia,Georgia;
    font-size: 22px;
    font-weight: 700;
}
#edit-title-wrapper .description{
    font: 12px/1.125 Arial,Helvetica,sans-serif;
    width: 345px;
    float:right;
}
#face a {
    background: url("../images/face.gif") no-repeat scroll 0 0 transparent;
    padding: 2px 0 0 18px;
}
#topic a {
    background: url("../images/topic.gif") no-repeat scroll 0 0 transparent;
    padding: 1px 0 0 18px;
}
#img a {
    background: url("../images/image.gif") no-repeat scroll 0 0 transparent;
    padding: 0 0 0 18px;
}
#faceWrap{clear:both;background:#FEFEFE;border:1px solid #DDDDDD;padding:5px;width:313px;display:none;position:absolute;z-index:10000;text-align:center;color:#999999;}
#faceWrap a{padding:2px;}

li.ui-menu-item{
	background: none;
}

#edit-title-wrapper .form-required {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
}

#edit-title{
	margin: 0px 0px 0px 5px; 
	padding: 0px; 
	border-color: #ccc; 
	border-style: solid; border-width: 1px; 
	font-size: 14px; 
	font-family: Tahoma,'宋体'; 
	word-wrap: break-word; 
	line-height: 18px; 
	overflow-y: auto; overflow-x: hidden; outline: medium none;
}
#topic{
	padding-left: 5px;

}